/* global.css */

/* select2 插件的樣式 */
.select2-results__options {
    max-height: 300px;
    overflow-y: auto;
}

/* 顯示表情符號 */
.emoji-grid .select2-results__option {
    display: inline-block;
    width: 30px;
    text-align: center;
    padding: 4px 0;
}

/* 顯示紅色圓形 X 標誌的樣式 */
.emoji-round-red-x {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: red;
    color: white;
    text-align: center;
    line-height: 1.25em;
    border-radius: 50%;
    font-weight: bold;
    font-size: 20px;
    vertical-align: middle;
    font-family: sans-serif;
    transform: translateY(-0.2em);
}