services:
  backend:
    build:
      context: ..
      dockerfile: src/Dockerfile
      args:
        XDEBUG_CLIENT_HOST: 172.17.0.1 # This is the Docker host IP (for Linux)
    ports:
      - "8001:8000"
    volumes:
      - ..:/var/www/note_react
      - /home/chen/aLiang/notes/note/note.txt:/var/www/note_react/data/note.txt:rw
    environment:
      XDEBUG_MODE: debug

  frontend:
    build:
      context: ../frontend
    ports:
      - "5174:5174"
    volumes:
      - ../frontend:/var/www/note_react/frontend
      - ${NOTE_CREDENTIAL_JSON}:/etc/secrets/credential.json:ro
    environment:
      SITE: ${SITE}
      CHOKIDAR_USEPOLLING: "true"
      BACKEND_URL: "http://backend:8000"
      VITE_IN_DOCKER: "1"
      HMR_HOST: "localhost"
      VITE_PORT: "5174"
      VITE_HOST: "localhost"
      PORT: "5174"
      XDEBUG_CLIENT_HOST: 172.17.0.1 # This is used for the frontend, optional in this case.
