<!-- templates/env-test/index.html.twig -->
<!DOCTYPE html>
<html>
<head>
    <title>Environment Test</title>
</head>
<body>
    <h1>Environment Variable NOTE_OFFICE_DATA_FILE</h1>
    <p>{{ note_office_data }}</p>
</body>
</html>
